@plugin "daisyui/theme" {
  name: "Cepu";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0.003 247.858);
  --color-base-300: oklch(96% 0.007 247.896);
  --color-base-content: oklch(23.574% 0.066 313.189);
  --color-primary: oklch(85% 0.199 91.936);
  --color-primary-content: oklch(12% 0.042 264.695);
  --color-secondary: oklch(94% 0.129 101.54);
  --color-secondary-content: oklch(0% 0 0);
  --color-accent: oklch(92% 0.12 95.746);
  --color-accent-content: oklch(0% 0 0);
  --color-neutral: oklch(98% 0.002 247.839);
  --color-neutral-content: oklch(0% 0 0);
  --color-info: oklch(97% 0.014 254.604);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(79% 0.209 151.711);
  --color-success-content: oklch(26% 0.051 172.552);
  --color-warning: oklch(87% 0.169 91.605);
  --color-warning-content: oklch(28% 0.066 53.813);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.1875rem;
  --border: 2px;
  --depth: 0;
  --noise: 0;
}
